.value {
  text-align: left;
  font-size: $h5-size;
  background-color: $neutral-scale-2;
  border: 0.1rem solid $border-color;
  border-radius: $border-radius;
  padding: $spacing-xxs;
  margin: 0;
  white-space: break-spaces;
}
